---
title: 👨🏻‍🚀 Space Haven Manager
layout: layouts/manager.njk
eleventyExcludeFromCollections: true
---

<div class="wrapper">
    {% include "manager/header.njk" %}
    {% include "manager/ressources.njk" %}
    {% include "manager/footer.njk" %}
    {% include "manager/add_price_modal.njk" %}
</div>