{# TODO: replace me with newly installed icons! #}
{% macro externalIcon(iconClasses = "") %}
    <svg
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  focusable="false"
  x="0px"
  y="0px"
  viewbox="0 0 100 100"
  width="15"
  height="15"
  class="-mt-[3px] {{ iconClasses }}"
>
        <path
    d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"
  ></path>
        <polygon
    points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"
  ></polygon>
    </svg>
{% endmacro %}

{% macro link(href, text = "", external = false, mailto = false, title = "", customClasses = "", sublabel = "", sublabelClasses = "", showIcon = false, iconClasses = "") %}
    <a
    href="{{ href }}"
    {% if title %}title="{{ title }}"{% endif %}
    {% if external %}target="_blank" rel="noopener noreferrer"{% endif %}
    {% if customClasses %}class="{% if external %}external {% endif %}{{ customClasses }}"{% endif %}
    >
        {% if caller %}
            {{ caller() }}
        {% else %}
            {{ text }}
        {% endif %}
        {% if sublabel or showIcon %}
            <span class="inline-block {% if sublabelClasses %}{{ sublabelClasses }}{% endif %}" aria-hidden="true">
                {{ sublabel }}
                {% if showIcon %}
                    {{ externalIcon(iconClasses) }}
                {% endif %}
            </span>
        {% endif %}
    </a>
{% endmacro %}