<div class="flex gap-4 items-center">
    <a href="https://play.google.com/apps/internaltest/4700427194906069320" class="flex flex-col gap-1">
        <img width="200" alt="Get it on Google Play" src="/img/laufmaus/googleplay-en-us.svg"/>
        <p>join testgroup now!</p>
    </a>
    <a href="#" class="flex flex-col gap-1 opacity-70 pointer-events-none">
        <img width="200" src="/img/laufmaus/appstore-en-us.svg" alt="Download on the App Store">
        <p>coming soon!</p>
    </a>

</div>