<div class="flex gap-4 items-center">
    <p class="italic">Coming soon to the App Store and Google Play!</p>
    <a href="#" class="opacity-50 pointer-events-none">
        <img width="200" src="/img/laufmaus/appstore-en-us.svg" alt="Download on the App Store">
    </a>
    <a href="#" class="opacity-50 pointer-events-none">
        <img width="200" alt="Get it on Google Play" src="/img/laufmaus/googleplay-en-us.svg"/>
    </a>
</div>