{% import "components/link.njk" as linkComponent %}

<div>
  <nav>
    <p>menu</p>
    <ul class="menu">
      <li class="col-span-5">
        {{ linkComponent.link(
          href="https://blog.fschoenfeldt.de/",
          text="blog",
          external=true,
          title="my blog",
          customClasses="no-underline",
          sublabel="blog.fschoenfeldt.de",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
      <li class="col-span-2">
        {{ linkComponent.link(
          href="mailto:frederikschoenfeldt@gmail.com",
          text="hello",
          title="contact me via email",
          customClasses="no-underline",
          sublabel="frederikschoenfeldt@gmail.com",
          sublabelClasses="underline text-white"
        ) }}
      </li>
      <li class="projects relative col-span-5">
        <div class="relative z-10 flex p-4">projects</div>
        <div class="bg-white md:grid md:grid-cols-2">
          <div class="relative">
            {% set image = "src/images/fotohaecker_bg.jpg" | sharp %}
            <img
              class="absolute top-0 h-full w-full rounded object-cover"
              src="{% getUrl image | resize({ width: 500 }) | webp %}"
              aria-hidden="true"
/>
            {% call linkComponent.link(
              href="/fotohaecker" | url,
              title="learn more",
              customClasses="relative z-10 no-underline",
              sublabel="learn more",
              sublabelClasses="gray-bg underline"
            ) %}
            <span class="gray-bg">fotohäcker</span>
            {% endcall %}
          </div>
          <div class="relative border border-cyan-200 bg-slate-800">
            {% call linkComponent.link(
              href="/project_manager" | url,
              title="learn more",
              customClasses="relative z-10 no-underline",
              sublabel="learn more",
              sublabelClasses="w-max text-cyan-200 underline"
            ) %}
            <span class="w-max text-cyan-200">space haven manager</span>
            {% endcall %}
          </div>
        </div>
      </li>
      <li class="col-span-8">
        {{ linkComponent.link(
          href="https://unsplash.com/@fschoenfeldt",
          text="photography",
          external=true,
          title="my photos",
          customClasses="no-underline",
          sublabel="gallery",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
      <li class="col-span-4">
        {{ linkComponent.link(
          href="https://soundcloud.com/frederikschoenfeldt",
          text="tunes",
          external=true,
          title="my tunes",
          customClasses="no-underline",
          sublabel="soundcloud",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
    </ul>
  </nav>
</div>