{% import "components/link.njk" as linkComponent %}

<div>
  <nav>
    <p>menu</p>
    <ul class="menu">
      <li class="col-span-5">
        {{ linkComponent.link(
          href="https://blog.fschoenfeldt.de/",
          text="blog",
          external=true,
          title="my blog",
          customClasses="no-underline",
          sublabel="blog.fschoenfeldt.de",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
      <li class="col-span-2">
        {{ linkComponent.link(
          href="mailto:frederikschoenfeldt@gmail.com",
          text="hello",
          title="contact me via email",
          customClasses="no-underline",
          sublabel="frederikschoenfeldt@gmail.com",
          sublabelClasses="underline text-white"
        ) }}
      </li>
      <li class="projects relative col-span-5">
        <div class="relative z-10 flex p-4 items-center gap-2 justify-between">
          <p>projects</p>
          {# i need to override many of assets/css/components/misc.css here  #}
          {# {{ linkComponent.link(
            href="/projects" | url,
            text="all projects",
            title="see all projects",
            customClasses="!flex-row !h-auto !p-0 !w-auto",
            external=true,
            sublabelClasses="fill-white hover:fill-white underline text-white",
            showIcon=true
          ) }} #}
        </div>
        <div class="md:grid md:grid-cols-2">
          <div class="relative bg-laufmaus-accent dark:bg-gray-800 md:rounded-bl">
            {% call linkComponent.link(
              href="/laufmaus" | url,
              title="learn more",
              customClasses="relative z-10 no-underline",
              sublabel="learn more",
              sublabelClasses="w-max light:!text-laufmaus-complement dark:!text-gray-100 underline"
            ) %}
            <div class="w-full flex gap-2 justify-between items-center font-spacegrotesk font-bold !text-3xl">
              <div class="light:!text-laufmaus-complement dark:!text-gray-100">laufma<br/>us</div>
              <div class="bg-laufmaus-complement text-gray-100 text-lg md:text-sm p-2 py-1 text-nowrap">new!</div>
            </div>
            {% endcall %}
          </div>
          <div class="relative">
            {% set image = "src/images/fotohaecker_bg.jpg" | sharp %}
            <img
              class="absolute top-0 h-full w-full rounded-b md:rounded-bl-none object-cover"
              src="{% getUrl image | resize({ width: 500 }) | webp %}"
              aria-hidden="true"
/>
            {% call linkComponent.link(
              href="/fotohaecker" | url,
              title="learn more",
              customClasses="relative z-10 no-underline",
              sublabel="learn more",
              sublabelClasses="gray-bg underline"
            ) %}
            <span class="gray-bg">fotohäcker</span>
            {% endcall %}
          </div>

        </div>
      </li>
      <li class="col-span-8">
        {{ linkComponent.link(
          href="https://unsplash.com/@fschoenfeldt",
          text="photography",
          external=true,
          title="my photos",
          customClasses="no-underline",
          sublabel="gallery",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
      <li class="col-span-4">
        {{ linkComponent.link(
          href="https://soundcloud.com/frederikschoenfeldt",
          text="tunes",
          external=true,
          title="my tunes",
          customClasses="no-underline",
          sublabel="soundcloud",
          sublabelClasses="fill-white hover:fill-white underline text-white",
          showIcon=true
        ) }}
      </li>
    </ul>
  </nav>
</div>