<div
  x-data="{ expanded: true }"
  x-show="expanded"
  class="flex cursor-pointer border-b border-b-gray-600 bg-gray-800 print:hidden"
>
  <div
    @click="window.print()"
    @keydown.enter="window.print()"
    tabindex="0"
    class="flex w-full items-center gap-2 p-2 text-gray-200 transition-all hover:bg-gray-600 active:bg-gray-500 md:p-4"
  >
    <span class="material-icons text-gray-200" aria-hidden="true"> print </span>
    Hier klicken, um das Dokument auszudrucken oder als PDF zu speichern
  </div>
  <span
    class="material-icons m-1 ml-auto h-max rounded-full p-4 text-gray-200 hover:bg-gray-600 active:bg-gray-500 md:m-2 md:p-2"
    @click="expanded = false"
    tabIndex="0"
  >
    close
  </span>
</div>
