@import "../../node_modules/vanilla-cookieconsent/dist/cookieconsent.css";

/* make all buttons same to be gdpr compliant */
#c-bns button,
#s-bns button {
  color: #fff;
  color: var(--cc-btn-primary-text);
  background: #253b48;
  background: var(--cc-btn-primary-bg);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @page {
    margin: 0;
  }
  * {
    @apply font-serif text-gray-800;
  }
  h1 {
    @apply font-heading text-4xl;
  }
  a {
    @apply text-blue-700 hover:text-blue-900;

    &.external {
      @apply inline-flex items-center gap-0.5;
      svg {
        @apply inline-block fill-blue-700;
      }
      &:hover {
        svg {
          @apply fill-blue-900;
        }
      }
    }
  }
}

@layer components {
  .thick-heading {
    @apply break-all text-[30vw] uppercase leading-none md:text-12xl;
  }
  .menu {
    @apply flex flex-col gap-2 text-lg;
    @screen md {
      @apply grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .gray-bg {
      @apply w-max bg-gray-800 text-white;
    }
    > li {
      @apply rounded bg-gray-800 text-white transition-opacity hover:opacity-90;
      &:hover {
        a div {
          @apply underline;
        }
      }
      a {
        @apply flex w-full flex-col justify-between gap-2 break-all p-4 text-white md:h-60;
      }
      div {
        @apply text-white;
      }
    }
  }
  #fotohaecker {
    @apply mx-auto flex h-full flex-col gap-x-4 self-center sm:grid sm:max-w-2xl lg:max-w-4xl xl:max-w-6xl;
    @screen sm {
      grid-template-columns: 1fr 2fr;
    }
  }
  #fotohaecker-heading {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#4faecc),
      color-stop(#469abc),
      to(#347884)
    );
    background-image: linear-gradient(90deg, #4faecc, #469abc, #347884);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @apply pt-6 sm:text-10xl lg:text-[12rem] xl:text-[17rem];
  }
  .technologies-used-list {
    li {
      @apply inline-block rounded-lg bg-blue-600 px-1 font-sans text-sm font-bold text-white;
    }
  }
  .external {
    @apply flex items-center gap-0.5;
  }

  #cv {
    @apply flex flex-wrap bg-gray-700 shadow-xl print:block print:gap-0 print:space-y-0 print:bg-transparent print:p-0 print:shadow-none md:gap-10 md:p-10;
    h2 {
      @apply text-xl font-bold;
    }
    h3 {
      @apply text-lg;
    }
    .a4 {
      @screen md {
        width: 21cm;
        height: 29.7cm;
        @apply overflow-hidden;
      }
      @apply bg-white;
    }
    .thick-heading {
      @apply text-6xl;
    }
    .introduction {
      @apply grid w-full;
      @screen md {
        grid-template-columns: 8.3cm 1fr;
        width: 21cm;
      }
      &__side {
        @apply flex flex-col justify-between gap-y-4 bg-gray-900 p-6 md:p-4;
        * {
          @apply text-white;
        }
        .side__contact {
          @apply space-y-1;
          li {
            @apply flex items-center gap-2 text-white;
            .icon {
              @apply h-4 w-4 rounded-full bg-gray-100;
            }
          }
        }
      }
      &__text {
        @apply p-6 md:p-4;
      }
    }
    .projects {
      .project {
        @apply space-y-4 p-4;
        &__header {
          @apply space-y-1;
        }
        &__info {
          @apply space-x-6 space-y-6 md:flex md:space-y-0;
        }
      }
    }
  }
}
