#cv {
  @apply flex flex-wrap bg-gray-700 shadow-xl md:gap-10 md:p-10 print:block print:gap-0 print:space-y-0 print:bg-transparent print:!p-0 print:shadow-none;
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg leading-8;
  }
  .a4 {
    @apply bg-white;
    @screen canDisplayA4 {
      width: 21cm;
      height: 29.7cm;
    }
    @media print {
      width: 21cm;
      height: 29.65cm;
    }
  }
  .thick-heading {
    @apply text-5xl;
  }
  .introduction {
    @apply grid;
    @screen md {
      grid-template-columns: 8.3cm 1fr;
    }
    @media print {
      grid-template-columns: 8.3cm 1fr;
    }
    &__side {
      /* HACK: print height */
      @apply flex flex-col gap-y-6 bg-gray-900 p-6 md:p-4 print:h-[104%] print:p-4;
      * {
        @apply text-white;
      }
      h3 {
        @apply text-base;
      }
      &__contact {
        @apply space-y-1;
        li {
          @apply flex items-center gap-2 text-white;
          .icon {
            @apply h-4 w-4 rounded-full bg-gray-100;
          }
        }
      }
      &__skills,
      &__history {
        @apply mx-2 mt-1 md:mx-2;
      }
      &__skills {
        @apply space-y-2;

        .skill_base,
        .skill_top {
          @apply h-2 rounded;
        }
        .skill_base {
          @apply relative w-full bg-gray-700;
        }
        .skill_top {
          @apply absolute top-0 bg-gray-400;
        }
      }
      &__history {
        @apply me-0 space-y-4 text-sm;
      }
    }
    &__text {
      @apply h-full p-6 md:p-4 md:pb-0 print:p-4;
      * {
        @apply text-gray-800;
      }
    }
  }
  .projects {
    @apply grid;
    grid-template-rows: min-content auto 1fr;
    &__list {
      @apply flex h-full flex-col;
      &__item {
        @apply space-y-6 border-b p-6 pb-0;
        p,
        h2,
        ul,
        li {
          @apply !text-gray-800;
        }
        .header {
          @apply space-y-1;
        }
        .info {
          @apply space-y-6 sm:flex sm:gap-x-7 sm:space-y-0 print:flex print:gap-x-7 print:space-y-0;

          img {
            @apply block w-[17rem] self-end rounded rounded-b-none border border-b-0 border-gray-300;
          }
        }
      }
    }
    &__more {
      @apply flex h-full items-center justify-center self-end bg-gray-100 text-center;
    }
  }
}
