#laufmaus {
  @apply min-h-screen w-full divide-y-2 divide-gray-200 bg-laufmaus-accent dark:bg-gray-900;

  .container {
    @apply mx-auto grid grid-cols-12 gap-4 md:max-w-3xl;
  }

  .description {
    @apply flex flex-col justify-end space-y-4;
  }

  h1 {
    @apply break-all font-spacegrotesk text-[30vw] font-bold lowercase leading-none md:text-[14rem];
  }

  h2 {
    @apply font-spacegrotesk text-[15vw] font-bold tracking-tighter md:text-8xl;
  }

  /* need to override page wide defaults here. not nice. */
  * {
    @apply text-gray-900;
  }

  section {
    @apply flex flex-col items-center justify-center px-4 py-12;

    &.dark {
      @apply !border-gray-800 bg-gray-900 text-gray-100;
    }

    &.light {
      @apply bg-gray-100 text-gray-900;
    }

    &.onDarkToDark {
      @apply dark:!border-gray-800 dark:bg-gray-900;
      * {
        @apply dark:text-gray-100;
      }
    }
  }
}
