#laufmaus {
  @apply min-h-screen w-full bg-laufmaus-accent dark:bg-gray-900;

  .container {
    @apply mx-auto grid grid-cols-12 gap-4 md:max-w-3xl;
  }

  .description {
    @apply flex flex-col justify-end space-y-4;
  }

  h1 {
    @apply break-all font-spacegrotesk text-[30vw] font-bold lowercase leading-none text-gray-900 md:text-[14rem] dark:text-gray-100;
  }

  h2 {
    @apply font-spacegrotesk text-[15vw] font-bold tracking-tighter text-gray-900 md:text-8xl dark:text-gray-100;
  }

  section {
    /* min-h-screen */
    @apply flex flex-col items-center justify-center px-4 py-12;
  }

  #laufmaus-heading {
    @apply font-spacegrotesk font-bold tracking-tighter text-gray-900;
  }
}
