---
title: Laufmaus
description: describing the project laufmaus and its technical details
layout: layouts/minimal.njk
# TODO: remove the below and from robots.njk when released
eleventyExcludeFromCollections: true
---

<article id="laufmaus">
    <section class="light onDarkToDark !min-h-[80vh]">
        <div class="container">
            <h1 class="col-span-12 md:-mb-48">
                Laufmaus
            </h1>
            <div class="description col-span-12 md:col-span-8">
                <p class="font-bold text-2xl">
                    an alternative, feature rich walkingpad app.
                </p>
                <p>
                    Laufmaus is an alternative app for controlling walkingpads, designed to offer enhanced features and a better user experience compared to standard apps. It provides users with more control over their walkingpad settings, including speed adjustments, workout tracking, and customizable profiles.
                </p>
                {% include "components/laufmaus/appstore_cta.njk" %}
            </div>
            <div class="relative col-span-12 row-start-2 md:row-auto bg-gray-800 md:bg-transparent p-4 md:p-0 md:col-span-4 h-64 md:h-auto overflow-hidden md:overflow-visible md:mb-4">
                <img src="/img/laufmaus/laufmaus-iphone17pro-basic.png" alt="Laufmaus App Mockup" class="relative z-10 dark:hidden">
                {# TODO: dark image is old. #}
                <img src="/img/laufmaus/laufmaus-iphone17pro-basic--dark.png" alt="Laufmaus App Mockup Dark" class="relative z-10 hidden dark:block">
                <div class="hidden md:block bg-gray-900 h-full w-full absolute top-4 left-4 z-0 rounded-3xl"></div>
            </div>
        </div>
    </section>
    <section class="dark !bg-[#0F3D3E]">
        <div class="container">
            <div class="description col-span-12">
                <h2 class="!text-gray-100">
                    Heart Rate Monitoring
                </h2>
                <div class="col-span-12">
                    <img src="/img/laufmaus/laufmaus-hrm-monitor.png" alt="Laufmaus Heart Rate Monitoring Screenshot">
                </div>
                <p class="!text-gray-200">
                    Connect your heart rate monitor to the app and track your heart rate during workouts. Monitor your cardiovascular health and adjust your exercise intensity accordingly for optimal results.
                </p>
            </div>
        </div>
    </section>
    <section class="dark">
        <div class="container">
            <div class="description col-span-12">
                <h2 class="!text-gray-100">
                    Live Activity Integration (beta)
                </h2>
                <div class="col-span-12">
                    <img src="/img/laufmaus/laufmaus-live-activity.png" alt="Laufmaus Live Activity Screenshot">
                </div>
                <p class="!text-gray-200">
                    Receive real-time notifications about your workout progress, including distance covered, calories burned, and time elapsed. Stay motivated and informed throughout your exercise session. This feature is currently in beta and only works on iOS 16.1 and later.
                </p>
            </div>
        </div>
    </section>
    <section class="light">
        <div class="container">
            <div class="description col-span-12">
                <h2>
                    Speed Control
                </h2>
                <div class="col-span-12">
                    <img src="/img/laufmaus/laufmaus-speed-control.png" alt="Laufmaus Speed Control Screenshot">
                </div>
                <p>
                    Control your walkingpad speed directly from the app. Set custom speed profiles for different activities like walking, jogging, or running. Easily switch between profiles to match your workout intensity.
                </p>
            </div>
        </div>
    </section>
    <section class="light">
        <div class="container">
            <div class="description col-span-12">
                <h2>
                    Comparison with manufacturer Apps
                </h2>
                <table class="w-full border border-gray-200 rounded-xl overflow-hidden">

                    <!-- Desktop Header -->
                    <thead class="hidden md:table-header-group bg-gray-100">
                        <tr>
                            <th class="px-4 py-3 text-left font-semibold">Feature</th>
                            <th class="px-4 py-3 text-center font-semibold">Manufacturer</th>
                            <th class="px-4 py-3 text-center font-semibold">Laufmaus (Free)</th>
                        </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200">

                        <!-- Row -->
                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                No Login Required
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>

                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                Quick Start
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>

                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                Heart Rate Monitor
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>

                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                HR-Based Calories Calculation
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>

                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                Apple Health Integration with full data
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>

                        <tr class="block md:table-row p-4 md:p-0">
                            <td class="block md:table-cell px-4 py-2 font-medium">
                                No Cloud Storage required
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Manufacturer: </span>
                                <div class="flex justify-center">
                                    {% icon "x",
                                    {
                                        "class": "stroke-red-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">Not supported</span>
                                </div>
                            </td>
                            <td class="block md:table-cell px-4 py-2 text-right md:text-center">
                                <span class="md:hidden font-semibold">Laufmaus: </span>
                                <div class="flex justify-center">
                                    {% icon "check",
                                    {
                                        "class": "stroke-green-700",
                                        "stroke-width": 3
                                    } %}
                                    <span class="sr-only">supported</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-8">
                    {% include "components/laufmaus/appstore_cta.njk" %}
                </div>
            </div>
        </div>
    </section>
</article>