<div x-data="{ressource: {}}" 
     class="modal" 
     x-ref="addPriceModal" 
     x-show="$store.manager.modalVisible" 
     @showaddpricemodal.window="$store.manager.showAddPriceModal">
    <div class="modal__content" @click.outside="$store.manager.hideAddPriceModal">
        <div class="w-full flex items-center text-xl space-x-2 h-full">
            <img :src="ressource.path"/>
            <div class="text-cyan-200 font-sans" x-text="ressource.name"></div>
            <button label="close" 
                        class="font-sans p-2 border-2 border-red-400 !text-red-400 
                               font-bold flex items-center justify-center h-12 w-12 shrink-0 !ml-auto" 
                        @click="$store.manager.hideAddPriceModal">
                    ✕
                </button>
        </div>

        {# <template x-if="ressource.priceHistory && ressource.priceHistory.length"> #}
        <div>
            {# <div style="overflow-wrap: anywhere;" x-text="JSON.stringify(ressource)" class="text-white font-sans"></div> #}
            <div>
                <canvas id="priceHistoryChart" :aria-label="`price history of ${ressource?.name || ''}`"></canvas>
            </div>
        </div>
        {# </template> #}

        <form class="flex flex-col space-y-4" @submit.prevent="$store.manager.handleModal">
            <label class="font-sans text-cyan-200 text-lg" 
                       for="number_input">
                       new price:
                </label>
            <input x-ref="name" type="text" hidden/>
            <input class="text-3xl font-sans bg-transparent border border-cyan-200
                            bg-slate-700 p-2 text-cyan-200 text-center" 
                       x-ref="input" 
                       type="number" 
                       name="value" 
                       id="number_input"
                       min="1"
                       max="9999"
                       required>
            <button class="font-sans p-2 border">Submit</button>
        </form>

    </div>
</div>