<div class="modal" x-show="$store.manager.modalVisible" @showaddpricemodal.window="$store.manager.showModal">
    <div class="modal__content" @click.outside="$store.manager.modalVisible = false">
        <div class="w-full flex items-center text-xl space-x-2 h-full">
            <img x-ref="modalIcon" src=""/>
            <div class="text-cyan-200 font-sans" x-ref="modalTitle"></div>
            <button label="close" 
                        class="font-sans p-2 border-2 border-red-400 !text-red-400 
                               font-bold flex items-center justify-center h-12 w-12 shrink-0 !ml-auto" 
                        @click="$store.manager.modalVisible = false">
                    ✕
                </button>
        </div>

        <form class="flex flex-col space-y-4" @submit.prevent="$store.manager.handleModal">
            <label class="font-sans text-cyan-200 text-lg" 
                       for="number_input">
                       value:
                </label>
            <input x-ref="name" type="text" hidden/>
            <input class="text-3xl font-sans bg-transparent border border-cyan-200
                            bg-slate-700 p-2 text-cyan-200 text-center" 
                       x-ref="input" 
                       type="number" 
                       name="value" 
                       id="number_input"
                       min="1"
                       required>
            <button class="font-sans p-2 border">Submit</button>
        </form>

    </div>
</div>