<header class="w-full bg-cyan-200 tracking-wider py-4 mb-2
               flex items-center">
    <h1 class="flex-1 text-center font-sans uppercase font-bold text-xl -mr-16">Space Haven Manager</h1>
    <img class="mx-4 h-8 lg:h-10 w-8 lg:w-10 invisible" src="{{ "/img/settings.svg" | url }}"/>
</header>