<header
  class="mb-2 w-full space-y-4 bg-cyan-200 tracking-wider"
  x-data="{settingsMenuVisible: false}"
>
  <div class="flex items-center">
    <h1 class="-mr-16 flex-1 text-center text-xl font-bold uppercase md:-mr-40">
      Space Haven Manager
    </h1>
    <button
      aria-label="open settings menu"
      type="button"
      @click="settingsMenuVisible = !settingsMenuVisible"
      data-testid="toggleSettingsMenu"
      class="flex items-center justify-center p-4 hover:!bg-cyan-100 md:space-x-4 md:p-2"
    >
      <div class="hidden md:block" aria-hidden="true">Settings</div>
      <img
        alt="settings menu icon"
        aria-hidden="true"
        class="h-8 w-8 lg:h-10 lg:w-10"
        src="{{ "/img/settings.svg" | url }}"
      />
    </button>
  </div>
  <div
    id="settingsMenu"
    x-cloak
    x-show="settingsMenuVisible"
    class="mx-auto w-11/12 max-w-lg bg-slate-800 p-4 lg:ml-auto lg:mr-4"
  >
    <ul class="flex flex-col">
      <li class="text-cyan-200">Menu/Options:</li>
      <li>
        <button
          data-testid="clearStorage"
          @click="$store.manager.clearStorage"
          class="w-max max-w-full border border-red-300 p-2 text-xl uppercase text-cyan-200 hover:!bg-red-200/20"
        >
          ☢️ clear saved data and reload
        </button>
      </li>
      <li class="mt-2 text-cyan-300">
        🚀 Thanks to Testers:
        <ul class="list-inside list-disc">
          <li class="text-cyan-300">Battlestation G-37 Scientist</li>
        </ul>
      </li>
    </ul>
  </div>
</header>
