---
permalink: "a4docs/.htaccess"
eleventyExcludeFromCollections: true
# https://www.11ty.dev/docs/permalinks/#trailing-slashes
eleventyAllowMissingExtension: true
---

AuthUserFile /www/htdocs/w0176b1a/fschoenfeldt.de/a4docs/.htpasswd
AuthGroupFile /dev/null
AuthName 'ByPassword'
AuthType Basic
require valid-user
