---
title: CV
layout: layouts/minimal.njk
templateEngineOverride: njk,md
---

{% set me_image = "src/images/me.jpg" | sharp %}
{% set project_fotohaecker = "src/images/project_fotohaecker.png" | sharp %}
{% set project_rundgang_hsfl = "src/images/project_rundgang_hsfl.png" | sharp %}
{% set project_accessible_components = "src/images/project_accessible_components.png" | sharp %}
<div id="cv">
    <section class="a4 introduction">
        <aside class="introduction__side">
            <div class="space-y-6">
                <div class="flex">
                    <h1 class="thick-heading">Frederik Schoenfeldt</h1>
                    <img class="block h-40 w-40 mx-auto rounded-full" src="{% getUrl me_image | resize({ width: 400 }) | webp %}" alt="photo of me"/>
                </div>
                <ul
                    class="side__contact">
                    <!-- <li>
                        <div class="icon"></div>Frederik Schönfeldt</li> -->
                    <li>
                        <div class="icon"></div>
                        {% personalDetails "address" %}</li>
                    <li>
                        <div class="icon"></div>
                        {% personalDetails "phone" %}</li>
                    <li>
                        <div class="icon"></div>frederikschoenfeldt@gmail.com</li>
                    <li>
                        <div class="icon"></div>fschoenfeldt.de</li>
                    <li>
                        <div class="icon"></div>unsplash.com/fschoenfeldt</li>
                </ul>
            </div>
            <div>
                <h2>Skills</h2>
                <ul class="space-y-2">
                    <li>
                        Frontend Entwicklung
                        <div class="relative bg-gray-800 h-4 w-full">
                            <div class="absolute top-0 h-4 w-full bg-gray-400"></div>
                        </div>
                    </li>
                    <li>
                        Backend Entwicklung
                        <div class="relative bg-gray-800 h-4 w-full">
                            <div class="absolute top-0 h-4 w-10/12 bg-gray-400"></div>
                        </div>
                    </li>
                    <li>
                        Testing & Accessibility
                        <div class="relative bg-gray-800 h-4 w-full">
                            <div class="absolute top-0 h-4 w-9/12 bg-gray-400"></div>
                        </div>
                    </li>
                    <li>
                        Webdesign
                        <div class="relative bg-gray-800 h-4 w-full">
                            <div class="absolute top-0 h-4 w-9/12 bg-gray-400"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="space-y-2">
                <h2>Berufliche Erfahrung</h2>
                <ul class="space-y-2 text-sm">
                    <li>
                        <h3>Heroic Recordings</h3>
                        <p>Leading & Executive Designer</p>
                    </li>
                    <li>
                        <h3>Freelancer</h3>
                        <p>Frontendentwicklung, Konzeptentwicklung, Web- und Grafikdesign, Fotografie, SEO</p>
                    </li>
                    <li>
                        <h3>Minijobs und Werkstudent</h3>
                        <p>Webshop- und Frontendentwicklung, agiles Arbeiten nach Scrum in kleinen und mittleren Unternehmen</p>
                    </li>
                    <li>
                        <h3>Elixir Fullstack Developer</h3>
                        <p>Front- und Backendentwicklung mit Phoenix Framework</p>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="introduction__text">
            <div class="prose prose-stone">{% include 'cv/intro.md' %}</div>
        </div>
    </section>
    <section class="a4 projects">
        <div class="bg-gray-900 p-4">
            <h2 class="text-white">Kurzportfolio Webentwicklung</h2>
        </div>
        <div class="project">
            <div class="project__header">
                <h2>Webapp „Fotohäcker“
                    <a href="{{ "/fotohaecker" | url }}">(Info & Demo)</a>
                </h2>
                <p>
                    Eine auf NodeJS & Express basierende Webanwendung zum Hochladen lizenzfreier Fotos. Im Rahmen des Fachs
                    „WWW-Programmierung“ während des Studiums entstanden. Da mir die Arbeit an der Plattform so viel Freude bereitet, bin
                    ich weiterhin dabei, sie zu entwickeln.
                </p>
            </div>
            <div class="project__info">
                <img class="block self-start rounded shadow-sm" src="{% getUrl project_fotohaecker | resize({ width: 300, height: 150, fit: 'cover' }) | webp %}" alt="Projekt Fotohäcker"/>
                <div>
                    <h2>Verwendete Techniken</h2>
                    <ul class="list-disc list-inside">
                        <li>Nodejs</li>
                        <li>Express</li>
                        <li>SQLite</li>
                        <li>Twig/Nunjucks</li>
                        <li>HTML+CSS+Bootstrap</li>
                        <li>Javascript</li>
                        <li>Jest/Playwright (End-to-End Testing)</li>
                        <li>Supervisor</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project__header">
                <h2>Website „Rundgang Filmanalyse“
                    <a href="https://fschoenfeldt.de/html/rundgang_hsfl/">(Demo)</a>
                </h2>
                <p>
                    Statische Website zur Darstellung verschiedener Projektergebnisse. Im Rahmen des Fachs „Filmanalyse“ während des
                    Studiums entstanden. Das Projekt war dazu gedacht, die Ergebnisse der Studierenden für einen digitalen Rundgang
                    auszustellen.
                </p>
            </div>
            <div class="project__info">
                <img class="block self-start rounded shadow-sm" src="{% getUrl project_rundgang_hsfl | resize({ width: 300, height: 150, fit: 'cover' }) | webp %}" alt="Projekt Rundgang HSFL"/>
                <div>
                    <h2>Verwendete Techniken</h2>
                    <ul class="list-disc list-inside">
                        <li>Nodejs</li>
                        <li>Eleventy SSG</li>
                        <li>Markdown</li>
                        <li>Twig/Nunjucks</li>
                        <li>HTML+CSS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project__header">
                <h2>Barrierefreie Komponenten
                    <a href="https://github.com/fschoenfeldt/accessible_components">(Source)</a>
                </h2>
                <p>
                    Die Barrierefreien Komponenten sind ein Ergebnis meiner Bachelorthesis zum Thema „Barrierefreie Webkomponenten im Bezug
                    auf digital-anamnestische Anwendungen“. Inhaltlich handelt es sich um verschiedene Formularelemente, die barrierefrei
                    dargestellt und getestet sind. Die Gestaltung der Komponenten wurde nur soweit vorgenommen, wie sie für die
                    Barrierefreiheit notwendig ist.
                </p>
            </div>
            <div class="project__info">
                <img class="block self-start rounded shadow-sm" src="{% getUrl project_accessible_components | resize({ width: 300, height: 150, fit: 'cover' }) | webp %}" alt="Projekt Rundgang HSFL"/>
                <div>
                    <h2>Verwendete Techniken</h2>
                    <ul class="list-disc list-inside">
                        <li>Elixir</li>
                        <li>Phoenix</li>
                        <li>HTML+CSS</li>
                        <li>Axe CLI (A11Y)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>