---
title: Vacation 🚀
layout: layouts/minimal.njk
eleventyExcludeFromCollections: true
---

{% set vacation_image = "src/images/vacation.jpg" | sharp %}
<div class="h-screen w-screen flex items-center justify-center" x-data="vacation">
    <template x-if="editMode">
        <form @submit="handleSubmit" class="max-w-xl space-y-4">
            <h1 class="thick-heading text-3xl">
                Eigenen Urlaub setzen
            </h1>
            <p>
                Mithilfe dieses Formulars kannst du deinen eigenen Urlaub setzen. Anschließend erhälst du einen Link, den du teilen kannst:
            </p>
            <div class="border rounded shadow space-y-2 p-4">
                <div>
                    <label for="date">Urlaubsdatum</label>
                    <input class="block bg-gray-200 text-xl" type="date" name="date" id="date">
                </div>
                <button class="btn">Speichern</button>
                <template x-if="generatedLink">
                    <div>
                        Dein Link: <a :href="generatedLink" target="_blank" rel="noopener noreferrer" x-text="generatedLink"></a>
                    </div>
                </template>
            </div>
        </form>
    </template>
    <template x-if="!editMode">
        <div class="max-w-xl text-center p-4 space-y-4">
            <h1>👒☀️😎🏝️🏖️🌄</h1>
            <img src="{% getUrl vacation_image | resize({ width: 600 }) | webp %}"/>
            <h1
            x-text="`Bis Urlaubsbeginn: ${format('{{ personal_actual_vacation_date }}')}`"
            class="thick-heading text-3xl italic"
            style=" background-image: -webkit-gradient( linear, left top, right top, from(#cada33), color-stop(#5896f6), to(#347884)
                ); background-image: linear-gradient(33deg, #cada33, #5896f6, #347884); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; "></h1>
            <h1
            x-text="format('{{ personal_vacation_date }}')"
            class="thick-heading"
            style=" background-image: -webkit-gradient( linear, left top, right top, from(#cada33), color-stop(#5896f6), to(#347884)
                ); background-image: linear-gradient(33deg, #cada33, #5896f6, #347884); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; "></h1>

            <button @click="editMode = true" class="btn">Eigenen Urlaub setzen?</button>
        </div>
    </template>
</div>