---
title: 🏖️ Vacation/Urlaub 🏖️
layout: layouts/vacation.njk
eleventyExcludeFromCollections: true
---

{% set vacation_image = "src/images/vacation.jpg" | sharp %}
<main
  class="min-w-screen flex min-h-screen items-center justify-center"
  :class="{ 'bg-gray-50 dark:bg-gray-900': $store.vacation.editMode }"
  @submitvacationform="$store.vacation.submitVactionForm"
  @submitvacationimagesearch="$store.vacation.submitVacationImageSearch"
>
  <div x-ref="test"></div>
  <template x-if="$store.vacation.editMode">
    {% include "vacation/editModeForm.njk" %}
  </template>
  <template x-if="!$store.vacation.editMode">
    <div class="relative max-w-xl space-y-4 p-4 text-center">
      <h1>👒☀️😎🏝️🏖️🌄🚴‍♀️🚴</h1>
      <template x-if="$store.vacation.vacationImage">
        <img
          :srcset="`
                            ${$store.vacation.vacationImage.urls.thumb1x} 400w,
                            ${$store.vacation.vacationImage.urls.thumb2x} 600w,
                            ${$store.vacation.vacationImage.urls.thumb3x} 800w,
                            ${$store.vacation.vacationImage.urls.full} 2800w
                        `"
          :src="$store.vacation.vacationImage.urls.thumb3x"
          :alt="$store.vacation.vacationImage.title"
          class="mx-auto max-h-[calc(100vh-10rem)]"
        />
        <img x-data :src="$store.vacation.vacationImage" />
      </template>
      <template x-if="!$store.vacation.vacationImage">
        <img
          alt="photo of vacation place"
          src="{% getUrl vacation_image | resize({ width: 600 }) | webp %}"
        />
      </template>

      <h2
        class="!mt-2"
        style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"
      >
        <span
          x-show="$store.vacation.vacationLocation"
          x-text="`${$store.vacation.vacationLocation} –`"
        ></span>
        <i x-text="$store.vacation.localeDateString($store.vacation.date)"></i>
      </h2>

      <h1
        hidden
        x-text="`Bis Urlaubsbeginn: ${$store.vacation.format($store.vacation.date)}`"
        class="thick-heading text-3xl italic"
        style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"
      ></h1>
      <h1
        x-text="$store.vacation.format($store.vacation.date)"
        class="thick-heading text-[25vw] sm:text-9xl"
        style="background-image: -webkit-gradient( linear, left top, right top, from(#730D03), color-stop(#667302), to(#BABF15)
                ); background-image: linear-gradient(33deg, #730D03, #667302, #BABF15); -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"
      ></h1>

      <button
        @click="$store.vacation.editMode = true"
        class="btn mt-16 text-sm"
        type="button"
        data-testid="newVacation"
        label="Eigenen Urlaubstimer setzen"
      >
        Eigenen Urlaubstimer erstellen
      </button>
    </div>
  </template>
</main>
