name: Playwright Tests
env:
  DEBUG: pw:webserver*
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
      - feature/**
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.1.0
        with:
          version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run jsunit tests
        run: pnpm test:unit
      - name: Build site
        run: pnpm build
      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps
      - name: Run E2E tests
        run: pnpm test:e2e
      - uses: actions/upload-artifact@v4.6.2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
